/* Make the page background look different to the card background */
body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
    padding-bottom: 4rem;
}

p {
    margin: 0
}

/**
 * Determines # of rows depending on screen width
 */
.row>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.card {
    width: 20rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.25) !important
}

.card__body {
    padding: 0rem;
    padding-left: 0rem
}

/**
 * Image & image text
 */
.image-top {
    position: relative;
    text-align: center;
}
.card-category{
    font-size: 12px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.750);
    text-transform:uppercase;
    font-family: 'Gill Sans MT';
}
.image-top__text{
    font-size: 12px;
    padding: 6px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: 'Gill Sans MT';

}

.card__logo{
    padding-left: 0.5rem;
}

.card__departureDate{
    font-size: 12px;
    padding-left: 0.5rem;
    font-family: 'Gill Sans MT';
}

/** 
 * Text overflow! Though, this wont work on older browsers.
 */
 .card__title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: 'Times Digital';
}

.card__text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    font-family: 'Times Digital';
}

.card__duration{
    font-size: 12px;
    padding-left: 0.5rem;
    font-family: 'Times Digital';
}

.card__price {
    padding-left: 0.5rem;
    font-size: 26px;
    font-family: 'Times Digital';
}

.card__priceUnit {
    font-size: 12px;
    font-family: 'Times Digital';
}

.card__bottomRowRight {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    float: right;
}

.btn{
    font-size: 12px !important;
    font-family: 'Gill Sans MT';
}

.container-fluid .row {
    padding-top: 1rem;
}
